/*移动端默认样式*/
/*清除掉按下时会有一个灰色阴影*/
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*清除掉ios自带圆角*/
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background-color: #fff;
}
body {
  /*禁止选中文字*/
  -webkit-user-select: none;
  /* iPhone 和 Android 的浏览器纵向 (Portrate mode) 和橫向 (Landscape mode) 模式皆有自动调整字体大小的功能。控制它的就是 CSS 中的 -webkit-text-size-adjust。关闭字体大小自动调整功能*/
  -webkit-text-size-adjust: 100%;
}
/*字体设置*/
body * {
  font-family: PingFang-SC-Medium;
}
a {
  text-decoration: none;
}
input,
button {
  outline: none;
  vertical-align: middle;
}
img {
  vertical-align: middle;
}
ul {
  list-style: none;
}
body,
ul,
h1,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
/*变量*/
body {
  font-size: 0.48rem;
}
#head {
  width: 15rem;
  height: 5.56rem;
  position: relative;
}
#head img {
  width: 3rem;
  height: 3rem;
  border-radius: 1.48rem;
  position: absolute;
  top: 1.28rem;
  left: 6rem;
}
#con {
  width: 15rem;
  height: 10.96rem;
  position: relative;
}
#con .basicInfoUl {
  width: 15rem;
  height: 6rem;
}
#con .basicInfoUl li {
  width: 15rem;
  height: 1.96rem;
  border-bottom: 0.04rem solid #E6E6E6;
  position: relative;
}
#con .basicInfoUl li p {
  width: 1.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.6rem;
  color: #333;
  position: absolute;
  top: 0.72rem;
  left: 0.48rem;
}
#con .basicInfoUl li .nameInput {
  width: 4.4rem;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.48rem;
  color: #808080;
  text-align: right;
  position: absolute;
  right: 1rem;
  top: 0.8rem;
}
#con .basicInfoUl li .genderMan {
  width: 0.56rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.56rem;
  color: #333;
  background: url(../img/icon_choice@2x.png) no-repeat;
  background-size: 0.8rem 0.8rem;
  padding-left: 1.28rem;
  position: absolute;
  top: 0.56rem;
  left: 10.64rem;
}
#con .basicInfoUl li .genderMan.active {
  background: url(../img/icon_choiced@2x.png) no-repeat;
  background-size: 0.8rem 0.8rem;
}
#con .basicInfoUl li .genderWoman {
  width: 0.56rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.56rem;
  color: #333;
  background: url(../img/icon_choice@2x.png) no-repeat;
  background-size: 0.8rem 0.8rem;
  padding-left: 1.28rem;
  position: absolute;
  top: 0.56rem;
  left: 12.92rem;
}
#con .basicInfoUl li .genderWoman.active {
  background: url(../img/icon_choiced@2x.png) no-repeat;
  background-size: 0.8rem 0.8rem;
}
#con .basicInfoUl li .selectBirthday {
  width: 6.8rem;
  height: 0.72rem;
  line-height: 0.72rem;
  font-size: 0.48rem;
  color: #808080;
  text-align: right;
  background: url(../img/icon_calendar@2x.png) no-repeat;
  background-size: 0.72rem 0.72rem;
  background-position: right;
  padding-right: 1.2rem;
  position: absolute;
  top: 0.6rem;
  right: 0.72rem;
}
#con .bindAccountUl {
  width: 15rem;
  height: 4.96rem;
  position: relative;
}
#con .bindAccountUl li {
  width: 15rem;
  height: 2.44rem;
  background-color: #FCFCFC;
  border-bottom: 0.04rem solid #E6E6E6;
  position: relative;
}
#con .bindAccountUl li img {
  width: 1.12rem;
  height: 1.12rem;
  position: absolute;
  top: 0.64rem;
  left: 0.48rem;
}
#con .bindAccountUl li .content {
  width: 4rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.6rem;
  color: #333;
  position: absolute;
  top: 0.96rem;
  left: 2.08rem;
}
#con .bindAccountUl li input {
  width: 4rem;
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.48rem;
  color: #808080;
  text-align: right;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#con .bindAccountUl li .phoneNumber {
  width: 3.2rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.48rem;
  color: #808080;
  background: url(../img/icon_getmore@2x.png) no-repeat right center;
  background-size: 0.32rem 0.6rem;
  padding-right: 0.96rem;
  text-align: right;
  position: absolute;
  top: 0.96rem;
  right: 0.48rem;
}
#foot {
  width: 15rem;
  height: 10.16rem;
  position: relative;
}
#foot button {
  width: 13.32rem;
  height: 1.84rem;
  border-radius: 0.16rem;
  background-color: #ECCA4C;
  font-size: 0.68rem;
  color: #333;
  position: absolute;
  top: 3.04rem;
  left: 0.84rem;
}
/*生日选择插件css*/
/*www.jq22.com*/
.calendar {
  POSITION: absolute;
  WIDTH: 190px;
  HEIGHT: 180px;
  PADDING: 0;
  DISPLAY: none;
  FLOAT: left;
  border: 1px solid #819dba;
  background: #fff;
}
.calendar .calMain {
  WIDTH: 100%;
  HEIGHT: 180px;
  FLOAT: left;
  OVERFLOW: hidden;
  POSITION: absolute;
}
.calendar .calMain .calTitle {
  WIDTH: 100%;
  FLOAT: left;
  HEIGHT: 23px;
  BACKGROUND: #fff;
  OVERFLOW: hidden;
}
.calendar .calMain .calTitle .t_date {
  WIDTH: 149px;
  FLOAT: left;
  HEIGHT: 23px;
  COLOR: #51729D;
  FONT-WEIGHT: bold;
  LINE-HEIGHT: 23px;
  TEXT-ALIGN: center;
}
.calendar .calMain .calTitle .prevMonth {
  WIDTH: 15px;
  HEIGHT: 15px;
  FLOAT: left;
  MARGIN: 8px 0 0 5px;
  CURSOR: pointer;
  BACKGROUND: url(../images/date_bg.png) no-repeat 5px -87px;
}
.calendar .calMain .calTitle .nextMonth {
  WIDTH: 15px;
  HEIGHT: 15px;
  FLOAT: right;
  MARGIN: 8px 5px 0 0;
  CURSOR: pointer;
  BACKGROUND: url(../images/date_bg.png) no-repeat 6px -157px;
}
.calendar .calMain .calTitle .currentYearText {
  FLOAT: left;
  MARGIN: 0 0px 0 39px;
  CURSOR: pointer;
}
.calendar .calMain .calTitle .currentMonthText {
  FLOAT: left;
  CURSOR: pointer;
  WIDTH: 30px;
  TEXT-ALIGN: right;
}
.calendar .calMain .calContent {
  WIDTH: 378px;
  HEIGHT: 157px;
  FLOAT: left;
}
.calendar .calMain .calContent .enabled {
  POSITION: absolute;
  WIDTH: 100%;
  HEIGHT: 157px;
  FLOAT: left;
}
.calendar .calMain .calContent .reserve {
  POSITION: absolute;
  WIDTH: 100%;
  HEIGHT: 157px;
  FLOAT: left;
}
.calendar .calMain .calContent .tabD {
  WIDTH: 100%;
  FLOAT: left;
  BORDER-COLLAPSE: collapse;
  BORDER-SPACING: 0;
  BORDER: 0;
}
.calendar .calMain .calContent .tabD th {
  BACKGROUND: url(../images/date_bg.png) repeat-x;
  LINE-HEIGHT: 22px;
  FONT-WEIGHT: normal;
  PADDING-BOTTOM: 4px;
  COLOR: #fff;
}
.calendar .calMain .calContent .tabD td {
  COLOR: #1F3959;
  TEXT-ALIGN: center;
  LINE-HEIGHT: 19px;
  WIDTH: 27px;
  FONT-FAMILY: "Georgia";
}
.calendar .calMain .calContent .tabD td span {
  COLOR: #C0C0C0;
}
.calendar .calMain .calContent .tabD td a {
  WIDTH: 23px;
  LINE-HEIGHT: 18px;
  FLOAT: left;
  MARGIN: 1px 0 0 2px;
  CURSOR: pointer;
  COLOR: #51729D;
}
.calendar .calMain .calContent .tabD td .nextD {
  COLOR: #BCCADC;
}
.calendar .calMain .calContent .tabD td .prevD {
  COLOR: #BCCADC;
}
.calendar .calMain .calContent .tabD td .hover {
  WIDTH: 21px;
  LINE-HEIGHT: 16px;
  BORDER: 1px solid #7D99BD;
  FLOAT: left;
  MARGIN: 1px 0 0 2px;
}
.calendar .calMain .calContent .tabD td .current {
  WIDTH: 21px;
  LINE-HEIGHT: 16px;
  BORDER: 1px solid #51729D;
  FLOAT: left;
  MARGIN: 1px 0 0 2px;
}
.calendar .calMain .calContent .tabD td .select {
  WIDTH: 21px;
  LINE-HEIGHT: 16px;
  BACKGROUND: #51729D;
  BORDER: 1px solid #51729D;
  COLOR: #fff;
  FLOAT: left;
  MARGIN: 1px 0 0 2px;
}
.calendar .calMain .calContent .tabM {
  WIDTH: 100%;
  FLOAT: left;
  BORDER-COLLAPSE: collapse;
  BORDER-SPACING: 0;
  BORDER: 0;
}
.calendar .calMain .calContent .tabM td {
  COLOR: #1F3959;
  TEXT-ALIGN: center;
  HEIGHT: 50px;
  WIDTH: 47px;
  FONT-FAMILY: "Georgia";
}
.calendar .calMain .calContent .tabM td a {
  WIDTH: 42px;
  LINE-HEIGHT: 42px;
  FLOAT: left;
  MARGIN: 0px 0 0 2px;
  CURSOR: pointer;
  COLOR: #51729D;
}
.calendar .calMain .calContent .tabM td .hover {
  WIDTH: 40px;
  LINE-HEIGHT: 40px;
  BORDER: 1px solid #7D99BD;
  FLOAT: left;
  MARGIN: 0px 0 0 2px;
}
.calendar .calMain .calContent .tabM td .current {
  WIDTH: 40px;
  LINE-HEIGHT: 40px;
  BORDER: 1px solid #51729D;
  FLOAT: left;
  MARGIN: 0px 0 0 2px;
}
.calendar .calMain .calContent .tabM td .select {
  WIDTH: 40px;
  LINE-HEIGHT: 40px;
  BACKGROUND: #51729D;
  BORDER: 1px solid #51729D;
  COLOR: #fff;
  FLOAT: left;
  MARGIN: 0px 0 0 2px;
}
.calendar .calMain .calContent .tabY {
  WIDTH: 100%;
  FLOAT: left;
  BORDER-COLLAPSE: collapse;
  BORDER-SPACING: 0;
  BORDER: 0;
}
.calendar .calMain .calContent .tabY td {
  COLOR: #1F3959;
  TEXT-ALIGN: center;
  HEIGHT: 50px;
  WIDTH: 47px;
  FONT-FAMILY: "Georgia";
}
.calendar .calMain .calContent .tabY td a {
  WIDTH: 42px;
  LINE-HEIGHT: 42px;
  FLOAT: left;
  MARGIN: 0px 0 0 2px;
  CURSOR: pointer;
  COLOR: #51729D;
}
.calendar .calMain .calContent .tabY td .nextY {
  COLOR: #BCCADC;
}
.calendar .calMain .calContent .tabY td .prevY {
  COLOR: #BCCADC;
}
.calendar .calMain .calContent .tabY td .hover {
  WIDTH: 40px;
  LINE-HEIGHT: 40px;
  BORDER: 1px solid #7D99BD;
  FLOAT: left;
  MARGIN: 0px 0 0 2px;
}
.calendar .calMain .calContent .tabY td .current {
  WIDTH: 40px;
  LINE-HEIGHT: 40px;
  BORDER: 1px solid #51729D;
  FLOAT: left;
  MARGIN: 0px 0 0 2px;
}
.calendar .calMain .calContent .tabY td .select {
  WIDTH: 40px;
  LINE-HEIGHT: 40px;
  BACKGROUND: #51729D;
  BORDER: 1px solid #51729D;
  COLOR: #fff;
  FLOAT: left;
  MARGIN: 0px 0 0 2px;
}
.calendar .calMain a:hover {
  TEXT-DECORATION: none;
}
