@import "reset.less";
body {
	font-size: 12/@r;
}
#head {
	width: 375/@r;
	height: 139/@r;
	position: relative;
	img {
		width: 75/@r;
		height: 75/@r;
		border-radius: 37/@r;
		position: absolute;
		top: 32/@r;
		left: 150/@r;
	}
}
#con {
	width: 375/@r;
	height: 274/@r;
	position: relative;
	.basicInfoUl {
		width: 375/@r;
		height: 150/@r;
		li {
			width: 375/@r;
			height: 49/@r;
			border-bottom: 1/@r solid #E6E6E6;
			position: relative;
			p {
				width: 40/@r;
				height: 15/@r;
				line-height: 15/@r;
				font-size: 15/@r;
				color: #333;
				position: absolute;
				top: 18/@r;
				left: 12/@r;
			}
			.nameInput {
				width: 110/@r;
				height: 12/@r;
				line-height: 12/@r;
				font-size: 12/@r;
				color: #808080;
				text-align: right;
				position: absolute;
				right: 25/@r;
				top: 20/@r;
			}
			.genderMan {
				width: 14/@r;
				height: 20/@r;
				line-height: 20/@r;
				font-size: 14/@r;
				color: #333;
				background: url(../img/icon_choice@2x.png) no-repeat;
				background-size: 20/@r 20/@r;
				padding-left: 32/@r;
				position: absolute;
				top: 14/@r;
				left: 266/@r;
				&.active {
					background: url(../img/icon_choiced@2x.png) no-repeat;
					background-size: 20/@r 20/@r;
				}
			}
			.genderWoman {
				width: 14/@r;
				height: 20/@r;
				line-height: 20/@r;
				font-size: 14/@r;
				color: #333;
				background: url(../img/icon_choice@2x.png) no-repeat;
				background-size: 20/@r 20/@r;
				padding-left: 32/@r;
				position: absolute;
				top: 14/@r;
				left: 323/@r;
				&.active {
					background: url(../img/icon_choiced@2x.png) no-repeat;
					background-size: 20/@r 20/@r;
				}
			}
			.selectBirthday {
				width: 170/@r;
				height: 18/@r;
				line-height: 18/@r;
				font-size: 12/@r;
				color: #808080;
				text-align: right;
				background: url(../img/icon_calendar@2x.png) no-repeat;
				background-size: 18/@r 18/@r;
				background-position: right;
				padding-right: 30/@r;
				position: absolute;
				top: 15/@r;
				right: 18/@r;
			}
		}
	}
	.bindAccountUl {
		width: 375/@r;
		height: 124/@r;
		position: relative;
		li {
			width: 375/@r;
			height: 61/@r;
			background-color: #FCFCFC;
			border-bottom: 1/@r solid #E6E6E6;
			position: relative;
			img {
				width: 28/@r;
				height: 28/@r;
				position: absolute;
				top: 16/@r;
				left: 12/@r;
			}
			.content {
				width: 100/@r;
				height: 15/@r;
				line-height: 15/@r;
				font-size: 15/@r;
				color: #333;
				position: absolute;
				top: 24/@r;
				left: 52/@r;
			}
			input {
				width: 100/@r;
				height: 12/@r;
				line-height: 12/@r;
				font-size: 12/@r;
				color: #808080;
				text-align: right;
				position: absolute;
				top: 25/@r;
				right: 25/@r;
			}
			.phoneNumber {
				width: 80/@r;
				height: 15/@r;
				line-height: 15/@r;
				font-size: 12/@r;
				color: #808080;
				background: url(../img/icon_getmore@2x.png) no-repeat right center;
				background-size: 8/@r 15/@r;
				padding-right: 24/@r;
				text-align: right;
				position: absolute;
				top: 24/@r;
				right: 12/@r;
			}
		}
	}
}
#foot {
	width: 375/@r;
	height: 254/@r;
	position: relative;
	button {
		width: 333/@r;
		height: 46/@r;
		border-radius: 4/@r;
		background-color: #ECCA4C;
		font-size: 17/@r;
		color: #333;
		position: absolute;
		top: 76/@r;
		left: 21/@r;
	}
}
/*生日选择插件css*/
/*www.jq22.com*/
.calendar { POSITION: absolute; WIDTH:190px; HEIGHT: 180px; PADDING:0;DISPLAY: none; FLOAT: left;border:1px solid #819dba;background:#fff;}
.calendar .calMain { WIDTH:100%; HEIGHT:180px; FLOAT: left; OVERFLOW: hidden; POSITION: absolute; }
.calendar .calMain .calTitle { WIDTH: 100%; FLOAT: left; HEIGHT: 23px; BACKGROUND: #fff; OVERFLOW: hidden; }
.calendar .calMain .calTitle .t_date { WIDTH: 149px; FLOAT: left; HEIGHT: 23px; COLOR: #51729D; FONT-WEIGHT: bold; LINE-HEIGHT: 23px; TEXT-ALIGN: center; }
.calendar .calMain .calTitle .prevMonth { WIDTH: 15px; HEIGHT: 15px; FLOAT: left; MARGIN: 8px 0 0 5px; CURSOR: pointer; BACKGROUND: url(../images/date_bg.png) no-repeat 5px -87px; }
.calendar .calMain .calTitle .nextMonth { WIDTH: 15px; HEIGHT: 15px; FLOAT: right; MARGIN: 8px 5px 0 0; CURSOR: pointer; BACKGROUND: url(../images/date_bg.png) no-repeat 6px -157px; }
.calendar .calMain .calTitle .currentYear { }
.calendar .calMain .calTitle .currentMonth { }
.calendar .calMain .calTitle .currentYearText { FLOAT: left; MARGIN: 0 0px 0 39px; CURSOR: pointer; }
.calendar .calMain .calTitle .currentMonthText { FLOAT: left; CURSOR: pointer; WIDTH: 30px; TEXT-ALIGN: right; }
.calendar .calMain .calContent { WIDTH: 378px; HEIGHT: 157px; FLOAT: left; }
.calendar .calMain .calContent .enabled { POSITION: absolute; WIDTH: 100%; HEIGHT: 157px; FLOAT: left; }
.calendar .calMain .calContent .reserve { POSITION: absolute; WIDTH:100%; HEIGHT: 157px; FLOAT: left; }
.calendar .calMain .calContent .tabD { WIDTH: 100%; FLOAT: left; BORDER-COLLAPSE: collapse; BORDER-SPACING: 0; BORDER: 0; }
.calendar .calMain .calContent .tabD th { BACKGROUND: url(../images/date_bg.png) repeat-x; LINE-HEIGHT: 22px; FONT-WEIGHT: normal; PADDING-BOTTOM: 4px; COLOR: #fff; }
.calendar .calMain .calContent .tabD td { COLOR: #1F3959; TEXT-ALIGN: center; LINE-HEIGHT: 19px; WIDTH: 27px; FONT-FAMILY: "Georgia"; }
.calendar .calMain .calContent .tabD td span { COLOR: #C0C0C0; }
.calendar .calMain .calContent .tabD td a { WIDTH: 23px; LINE-HEIGHT: 18px; FLOAT: left; MARGIN: 1px 0 0 2px; CURSOR: pointer; COLOR: #51729D; }
.calendar .calMain .calContent .tabD td .nextD { COLOR: #BCCADC; }
.calendar .calMain .calContent .tabD td .prevD { COLOR: #BCCADC; }
.calendar .calMain .calContent .tabD td .hover { WIDTH: 21px; LINE-HEIGHT: 16px; BORDER: 1px solid #7D99BD; FLOAT: left; MARGIN: 1px 0 0 2px; }
.calendar .calMain .calContent .tabD td .current { WIDTH: 21px; LINE-HEIGHT: 16px; BORDER: 1px solid #51729D; FLOAT: left; MARGIN: 1px 0 0 2px; }
.calendar .calMain .calContent .tabD td .select { WIDTH: 21px; LINE-HEIGHT: 16px; BACKGROUND: #51729D; BORDER: 1px solid #51729D; COLOR: #fff; FLOAT: left; MARGIN: 1px 0 0 2px; }
.calendar .calMain .calContent .tabM { WIDTH: 100%; FLOAT: left; BORDER-COLLAPSE: collapse; BORDER-SPACING: 0; BORDER: 0; }
.calendar .calMain .calContent .tabM td { COLOR: #1F3959; TEXT-ALIGN: center; HEIGHT: 50px; WIDTH: 47px; FONT-FAMILY: "Georgia"; }
.calendar .calMain .calContent .tabM td a { WIDTH: 42px; LINE-HEIGHT: 42px; FLOAT: left; MARGIN: 0px 0 0 2px; CURSOR: pointer; COLOR: #51729D; }
.calendar .calMain .calContent .tabM td .hover { WIDTH: 40px; LINE-HEIGHT: 40px; BORDER: 1px solid #7D99BD; FLOAT: left; MARGIN: 0px 0 0 2px; }
.calendar .calMain .calContent .tabM td .current { WIDTH: 40px; LINE-HEIGHT: 40px; BORDER: 1px solid #51729D; FLOAT: left; MARGIN: 0px 0 0 2px; }
.calendar .calMain .calContent .tabM td .select { WIDTH: 40px; LINE-HEIGHT: 40px; BACKGROUND: #51729D; BORDER: 1px solid #51729D; COLOR: #fff; FLOAT: left; MARGIN: 0px 0 0 2px; }
.calendar .calMain .calContent .tabY { WIDTH: 100%; FLOAT: left; BORDER-COLLAPSE: collapse; BORDER-SPACING: 0; BORDER: 0; }
.calendar .calMain .calContent .tabY td { COLOR: #1F3959; TEXT-ALIGN: center; HEIGHT: 50px; WIDTH: 47px; FONT-FAMILY: "Georgia"; }
.calendar .calMain .calContent .tabY td a { WIDTH: 42px; LINE-HEIGHT: 42px; FLOAT: left; MARGIN: 0px 0 0 2px; CURSOR: pointer; COLOR: #51729D; }
.calendar .calMain .calContent .tabY td .nextY { COLOR: #BCCADC; }
.calendar .calMain .calContent .tabY td .prevY { COLOR: #BCCADC; }
.calendar .calMain .calContent .tabY td .hover { WIDTH: 40px; LINE-HEIGHT: 40px; BORDER: 1px solid #7D99BD; FLOAT: left; MARGIN: 0px 0 0 2px; }
.calendar .calMain .calContent .tabY td .current { WIDTH: 40px; LINE-HEIGHT: 40px; BORDER: 1px solid #51729D; FLOAT: left; MARGIN: 0px 0 0 2px; }
.calendar .calMain .calContent .tabY td .select { WIDTH: 40px; LINE-HEIGHT: 40px; BACKGROUND: #51729D; BORDER: 1px solid #51729D; COLOR: #fff; FLOAT: left; MARGIN: 0px 0 0 2px; }
.calendar .calMain a:hover { TEXT-DECORATION: none; }
