@import "reset.less";
#con {
	width: 375/@r;
	height: 200/@r;
	position: relative;
	.card {
		width: 353/@r;
		height: 195/@r;
		background: url(../img/img_card@2x.png) no-repeat;
		background-size: 353/@r 195/@r;
		position: absolute;
		top: 9/@r;
		left: 11/@r;
		.cardType {
			width: 60/@r;
			height: 26/@r;
			line-height: 26/@r;
			font-size: 26/@r;
			color: #ECCA4C;
			position: absolute;
			top: 31/@r;
			left: 21/@r;
		}
		.dateNumberTitle {
			width: 70/@r;
			height: 13/@r;
			line-height: 13/@r;
			font-size: 13/@r;
			color: #fff;
			position: absolute;
			top: 86/@r;
			left: 21/@r;
		}
		.dataNumberDetail {
			width: 120/@r;
			height: 26/@r;
			line-height: 26/@r;
			font-size: 26/@r;
			color: #ECCA4C;
			position: absolute;
			top: 110/@r;
			left: 21/@r;
			span{
				color: #fff;
			}
		}
		.usedTimes {
			width: 72/@r;
			height: 13/@r;
			line-height: 13/@r;
			font-size: 13/@r;
			color: #E6E6E6;
			position: absolute;
			top: 86/@r;
			right: 21/@r;
			span {
				color: #FC665F;
			}
		}
		.contactStore {
			width: 56/@r;
			height: 13/@r;
			line-height: 13/@r;
			font-size: 13/@r;
			color: #E6E6E6;
			position: absolute;
			top: 115/@r;
			right: 21/@r;
		}
		.useInfo {
			width: 156/@r;
			height: 40/@r;
			font-size: 14/@r;
			background-color: #000000;
			color: #fff;
			position: absolute;
			bottom: 0;
			left: 20/@r;
		}
		.basicInfo {
			width: 156/@r;
			height: 40/@r;
			font-size: 14/@r;
			color: #ECCA4C;
			background-color: #000000;
			position: absolute;
			bottom: 0;
			right: 20/@r;
		}
	}
}