/*移动端默认样式*/
/*清除掉按下时会有一个灰色阴影*/
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*清除掉ios自带圆角*/
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
  border: none;
  background-color: #fff;
}
body {
  /*禁止选中文字*/
  -webkit-user-select: none;
  /* iPhone 和 Android 的浏览器纵向 (Portrate mode) 和橫向 (Landscape mode) 模式皆有自动调整字体大小的功能。控制它的就是 CSS 中的 -webkit-text-size-adjust。关闭字体大小自动调整功能*/
  -webkit-text-size-adjust: 100%;
}
/*字体设置*/
body * {
  font-family: PingFang-SC-Medium;
}
a {
  text-decoration: none;
}
input {
  outline: none;
  vertical-align: middle;
}
img {
  vertical-align: middle;
}
ul {
  list-style: none;
}
body,
ul,
h1,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
/*变量*/
#head {
  width: 15rem;
  height: 1.68rem;
  background-color: #010101;
  position: relative;
}
#head .title {
  width: 1.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.6rem;
  color: #fff;
  text-align: right;
  position: absolute;
  right: 9.2rem;
  top: 0.56rem;
}
#head .year {
  width: 2.16rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.6rem;
  color: #fff;
  text-align: right;
  padding-right: 0.6rem;
  background: url(../../img/icon_getxl@2x.png) no-repeat;
  background-size: 0.44rem 0.28rem;
  background-position: center right;
  position: absolute;
  right: 6.36rem;
  top: 0.56rem;
}
#head .month {
  width: 1.4rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.6rem;
  color: #fff;
  text-align: right;
  padding-right: 0.6rem;
  background: url(../../img/icon_getxl@2x.png) no-repeat;
  background-size: 0.44rem 0.28rem;
  background-position: center right;
  position: absolute;
  right: 4.24rem;
  top: 0.56rem;
}
#conTime {
  width: 15rem;
  height: 3.48rem;
  background-color: #ECCA4C;
  position: relative;
}
#conTime .title {
  width: 5.6rem;
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.52rem;
  color: #333;
  position: absolute;
  top: 0.48rem;
  left: 0.48rem;
}
#conTime .startTime {
  width: 5.6rem;
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.52rem;
  color: #333;
  position: absolute;
  top: 1.52rem;
  left: 0.48rem;
}
#conTime .finishTime {
  width: 5.6rem;
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.52rem;
  color: #333;
  position: absolute;
  top: 2.48rem;
  left: 0.48rem;
}
#conTime .totalAmount {
  width: 6.4rem;
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.52rem;
  color: #333;
  text-align: right;
  position: absolute;
  top: 0.48rem;
  right: 0.48rem;
}
#conTime .scale {
  width: 6.4rem;
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.52rem;
  color: #333;
  text-align: right;
  position: absolute;
  top: 1.52rem;
  right: 0.48rem;
}
#conTime .percentageAmount {
  width: 6.4rem;
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.52rem;
  color: #333;
  text-align: right;
  position: absolute;
  top: 2.48rem;
  right: 0.48rem;
}
#conDetail {
  width: 15rem;
}
#conDetail .detailUl {
  width: 15rem;
}
#conDetail .detailUl li {
  width: 15rem;
  height: 3.8rem;
  border-bottom: 0.04rem solid #ccc;
  position: relative;
}
#conDetail .detailUl li .time {
  width: 6rem;
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.52rem;
  color: #333;
  position: absolute;
  top: 0.52rem;
  left: 0.48rem;
}
#conDetail .detailUl li .wechatName {
  width: 6rem;
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.52rem;
  color: #333;
  position: absolute;
  top: 1.52rem;
  left: 0.48rem;
}
#conDetail .detailUl li .cardName {
  width: 4rem;
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.52rem;
  color: #333;
  text-align: right;
  position: absolute;
  top: 0.52rem;
  right: 0.48rem;
}
#conDetail .detailUl li .specialCardName {
  width: 4rem;
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.52rem;
  color: #333;
  text-align: right;
  position: absolute;
  top: 1.52rem;
  right: 0.48rem;
}
#conDetail .detailUl li .monneyAmount {
  width: 4rem;
  height: 0.52rem;
  line-height: 0.52rem;
  font-size: 0.52rem;
  color: #333;
  text-align: right;
  position: absolute;
  top: 2.84rem;
  right: 0.48rem;
}
